{% load wagtailcore_tags wagtailimages_tags lampstands_tags staticfiles %}

        <div class="content">
            <div class="image-container" {% if not post.colour %}style="background-image: url('{{ background.url }}');"{% endif %}></div>
            <div class="blog-text">
                

                    <div class="col-sm-6">
                        <div class="listing-box">
                        
                        <div class="listing-box-title {% if post.colour %}class="{{ post.colour }}"{% endif %}" align="center">
                            <h2 style="white-space:normal"><a href="{% pageurl post %}">{{post.title}}</a></h2>
                            <h3 style="font-style:italic">{{post.author}}</h3>
                        </div><!-- /.listing-box-title -->

                                    <div class="listing-box-content">
                                        <dl>
                                            <dt>From</dt><dd>{{post.from_area}}</dd>
                                        </dl>
                                    </div><!-- /.listing-box-content -->

                        </div><!-- /.listing-box -->
                    </div><!-- /.col-* -->

                
            </div>
        </div>
