{% load wagtailcore_tags wagtailimages_tags lampstands_tags staticfiles %}

<li {% if post.colour %}class="{{ post.colour }}"{% endif %}>
    <a class="block-link" href="{% pageurl post %}">
        <div class="content">
            {% image post.feed_image fill-764x448 as background %}
            <div class="image-container" {% if not post.colour %}style="background-image: url('{{ background.url }}');"{% endif %}></div>
            <div class="blog-text">
                <div id="author" class="author clearfix" >

                <div class="col-md-6">
                <div class="row">

                    <div class="col-sm-6">
                        <div class="listing-box">
                        
                        <div class="listing-box-title" align="center">
                            <h2 style="white-space:normal"><a href="...">{{post.title}}</a></h2>
                            <h3 style="font-style:italic">{{post.author}}</h3>
                        </div><!-- /.listing-box-title -->

                                    <div class="listing-box-content">
                                        <dl>
                                            <dt>Locality</dt><dd>{{post.from_area}}</dd>
                                        </dl>
                                    </div><!-- /.listing-box-content -->

                        </div><!-- /.listing-box -->
                    </div><!-- /.col-* -->

                </div><!-- /.row -->        
                </div><!-- /.col-* -->

                </div>
            </div>
        </div>
    </a>
</li>
