{% load wagtailcore_tags wagtailimages_tags lampstands_tags staticfiles %}

{% block content %}

<div class="col-lg-3">
                    <div class="post">
                        <div class="post-image">
                            <a href="{% pageurl post %}" class="post-image-link" style="background-image: url('assets/img/tmp/tmp-1.jpg');"></a>

                            <div class="post-author">                   
                                <a href="{% pageurl post %}">
                                    <span class="post-author-name">by {{ post.locality_state_or_province }}</span>
                                </a>
                            </div><!-- /.post-author -->
                        </div><!-- /.post-image -->

                        <div class="post-title">
                            <h2><a href="{% pageurl post %}">{{ post.locality_name }}</a></h2>
                        </div><!-- /.post-title -->

                        <div class="post-meta">
                            <div class="post-meta-item">
                                {{post.locality_country}}
                            </div><!-- /.post-meta-item -->

                            </div><!-- /.post-meta -->

                        <div class="post-read-more">
                            <a href="{% pageurl post %}">Read More <i class="fa fa-chevron-right"></i></a>
                        </div><!-- /.post-read-more -->
                    </div><!-- /.post-->
</div><!-- /.col-* -->
{% endblock %}