{% load wagtailcore_tags wagtailimages_tags lampstands_tags staticfiles %}

{% block content %}

<div class="col-lg-6">
                    <div class="post">
                       
                        <div class="post-title">
                            <h2><a href="{% pageurl post %}">{{ post.locality_name }}</a></h2>
                        </div><!-- /.post-title -->

                        <div class="post-meta">
                            <div class="post-meta-item">
                                Web: {{post.locality_web}}
                            </div><!-- /.post-meta-item -->

                            </div><!-- /.post-meta -->

                        <div class="post-content">
                            {{post.meeting_address}}
                        </div><!-- /.post-content -->

                    </div><!-- /.post-->
</div><!-- /.col-* -->
{% endblock %}