 <div class="content">
                <div class="image-container" {% if not post.colour %}style="background-image: url('{{ background.url }}');"{% endif %}></div>
            <div class="blog-text">
                
                    <div class="col-sm-6">
                        <div class="listing-box">
                        
                        <div class="listing-box-title" align="center">
                            <h2 style="white-space:normal"><a href="/testimonies/enjoyment-of-my-salvation">The Enjoyment of My Salvation</a></h2>
                            <h3 style="font-style:italic">Martha Ball</h3>
                        </div><!-- /.listing-box-title -->

                                    <div class="listing-box-content">
                                        <dl>
                                            <dt>From</dt><dd>Anaheim, USA</dd>
                                        </dl>
                                    </div><!-- /.listing-box-content -->

                        </div><!-- /.listing-box -->
                    </div><!-- /.col-* -->
                
                    <div class="col-sm-6">
                        <div class="listing-box">
                        
                        <div class="listing-box-title" align="center">
                            <h2 style="white-space:normal"><a href="/testimonies/rescued-from-errant-generation">Rescued from an Errant Generation</a></h2>
                            <h3 style="font-style:italic">Gary W. Evans</h3>
                        </div><!-- /.listing-box-title -->

                                    <div class="listing-box-content">
                                        <dl>
                                            <dt>From</dt><dd>Omaha, USA</dd>
                                        </dl>
                                    </div><!-- /.listing-box-content -->

                        </div><!-- /.listing-box -->
                    </div><!-- /.col-* -->

                     <div class="col-sm-6">
                        <div class="listing-box">
                        
                        <div class="listing-box-title" align="center">
                            <h2 style="white-space:normal"><a href="/testimonies/bible-open-book">The Bible is an Open Book to Me</a></h2>
                            <h3 style="font-style:italic">Wayne Kusumo</h3>
                        </div><!-- /.listing-box-title -->

                                    <div class="listing-box-content">
                                        <dl>
                                            <dt>From</dt><dd>Irvine, USA</dd>
                                        </dl>
                                    </div><!-- /.listing-box-content -->

                        </div><!-- /.listing-box -->
                    </div><!-- /.col-* -->

                     <div class="col-sm-6">
                        <div class="listing-box">
                        
                        <div class="listing-box-title" align="center">
                            <h2 style="white-space:normal"><a href="/testimonies/best-environment-earth">The Best Environment on Earth</a></h2>
                            <h3 style="font-style:italic">Paul Bixby</h3>
                        </div><!-- /.listing-box-title -->

                                    <div class="listing-box-content">
                                        <dl>
                                            <dt>From</dt><dd>Austin, USA</dd>
                                        </dl>
                                    </div><!-- /.listing-box-content -->

                        </div><!-- /.listing-box -->
                    </div><!-- /.col-* -->
                
            </div> <!--.blog-text -->
</div> <!-- .content  -->      
