{% load wagtailcore_tags wagtailimages_tags staticfiles %}

{% for post in faq_posts %}
    {% include 'lampstands/tags/faq_post_item.html' %}
{% endfor %}

<div class="pagination-wrapper">
	<ul class="pagination">
     {% if faq_posts.has_previous %}
      	<li class="page-item">
      		<a class="page-link" aria-label="Previous" href="?page={{ faq_posts.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">
      			<span aria-hidden="true">&laquo;</span>
        		<span class="sr-only">Previous</span>
        	</a>
        </li>

    {% else %}
      	<li class="page-item disabled">
      		<a class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
            </a>
        </li>
    {% endif %}
    {% for i in faq_posts.paginator.page_range %}
      {% if faq_posts.number == i %}
         <li class="active page-item"><a class="page-link">{{ i }}</a> 
         </li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if faq_posts.has_next %}
      	<li class="page-item">
      		<a class="page-link" aria-label="Next" href="?page={{ faq_posts.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">
      			<span aria-hidden="true">&raquo;</span>
        		<span class="sr-only">Next</span>
        	</a>
        </li>
    {% else %}
      <li class=" page-item disabled">
      		<a class="page-link" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
            </a>
      </li>
    {% endif %}

    </ul>
</div>