<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   viewBox="0 0 765 990"
   height="990"
   width="765"
   xml:space="preserve"
   version="1.1"
   id="svg2"><metadata
     id="metadata8"><rdf:RDF><cc:Work
         rdf:about=""><dc:format>image/svg+xml</dc:format><dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" /></cc:Work></rdf:RDF></metadata><defs
     id="defs6"><clipPath
       id="clipPath16"
       clipPathUnits="userSpaceOnUse"><path
         style="clip-rule:evenodd"
         id="path18"
         d="M 9.12e-6,0 612.00001,0 l 0,792 -612.00000088,0 0,-792 z" /></clipPath><clipPath
       id="clipPath28"
       clipPathUnits="userSpaceOnUse"><path
         style="clip-rule:evenodd"
         id="path30"
         d="M 9.12e-6,0 612.00001,0 l 0,792 -612.00000088,0 0,-792 z" /></clipPath></defs><g
     transform="matrix(1.25,0,0,-1.25,0,990)"
     id="g10"><g
       id="g12"><g
         clip-path="url(#clipPath16)"
         id="g14"><text
           id="text20"
           style="font-variant:normal;font-weight:normal;font-size:97.95999908px;font-family:Verdana;-inkscape-font-specification:Verdana;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           transform="matrix(1,0,0,-1,56.64,707.14)"><tspan
             id="tspan22"
             y="0"
             x="0 11.01624 28.71492 45.379082 55.304878 62.91 79.881721 94.448883 111.30876 118.91388 128.7558 143.32297 161.07756 178.77625 190.71516 205.28232 222.981 239.757">the local churches</tspan></text>
</g></g><g
       id="g24"><g
         clip-path="url(#clipPath28)"
         id="g26" /></g></g></svg>