{% extends "lampstands/base.html" %}
{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> | lampstands</title>

<style>
.page-standardpage {
    padding: 2em 1em;
}
.page-standardpage.page-standardpage .heading {
    position: relative;
    top: 0;
    padding: 0;
}
.page-standardpage .heading h2 {
    color: #434a4f;
    text-align: center;
}
.page-standardpage .intro p {
    text-align: center;
}

@media only screen and (min-width: 45em) {
    .page-standardpage {
        padding: 8em 2em;
    }
}
</style>
    </head>

    <body class="page-str title- pageid- ">


        <header class="container">
        </header>

        <main>


<div class="page-standardpage">
    <div class="vessel">
            <div class="heading" style="text-align: center; padding: 10px 0 20px 0;">
              <h2>Whoops!</h2>
            </div>
            <div class="post-detail" style="color: #737373;">
                 <p>This looks like our fault, not yours. One of our staff has been notified and will be right on it.</p>
            </div>
    </div>
</div>


        </main>
    </body>
</html>
