{% load lampstands_tags cache staticfiles wagtailuserbar wagtailcore_tags wagtailimages_tags wagtailsettings_tags %}
{% wagtailuserbar %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="BG9h_JXNdRg-5VvFCFviNpuFX0MLrScZLDtDgCqppE8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>{% block title %} {% endblock %}</title>

    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,300,700&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/libraries/owl-carousel/owl.carousel.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/libraries/chartist/chartist.min.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/leaflet.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/leaflet.markercluster.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/leaflet.markercluster.default.css' %}" >    
    <link rel="stylesheet" type="text/css" id="css-primary" href="{% static 'css/villareal-turquoise.css' %}" >
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'css/img/LCblueicon.ico' %}" >
</head>

<body class="cover-pull-top header-transparent">

<div class="page-wrapper">
                
        <div class="header-wrapper">
    <div class="header header-small">
        <div class="header-inner">
            <div class="vessel">
                <div class="header-top">
                    <div class="header-top-inner">
                        <a class="header-logo" href="."> 
                            <span class="header-logo-text">the local churches</span>
                        </a><!-- /.header-logo -->

                    
                        
<div class="nav-primary-wrapper collapse navbar-toggleable-sm">
    <ul class="nav nav-pills nav-primary bleed out-animation">
        <li class="nav-item nav-item-parent">
            <a href="https://safe-cove-64619.herokuapp.com/map" class="nav-link menu button">
                Find Us
            </a>
             <ul class="sub-menu">
                <li><a href="https://safe-cove-64619.herokuapp.com/churches">Church Listing</a></li>
            </ul> 
        </li>

        <li class="nav-item nav-item-parent">
            <a href="https://safe-cove-64619.herokuapp.com/beliefs" class="nav-link menu button">
                Beliefs
            </a>

            <ul class="sub-menu">
                <li><a href="beliefs/our-beliefs">Our Beliefs</a></li>
                <li><a href="beliefs/our-standing">Our Standing</a></li>
                <li><a href="beliefs/our-mission">Our Mission</a></li>
                <li><a href="beliefs/our-hope">Our Hope</a></li>
                <li><a href="beliefs/recovery">Concerning the Recovery</a></li>
                <li><a href="beliefs/salvation">Concerning Salvation</a></li>
                <li><a href="beliefs/christian-life">Concerning Christian Life</a></li>
                <li><a href="beliefs/church-life">Concerning Church Life</a></li>
            </ul>           
        </li>   
        
        <li class="nav-item nav-item-parent ">
            <a href="history" class="nav-link menu button">
                History
            </a>    

            <ul class="sub-menu">
                <li><a href="agents-row.html">Sample Row</a></li>
                <li><a href="agents-grid.html">Sample Grid</a></li>
            </ul>       
        </li>

        <li class="nav-item">
            <a href="https://safe-cove-64619.herokuapp.com/testimonies" class="nav-link menu button">
                Testimonies
            </a>
            
            <ul class="sub-menu">
                <li><a href="beliefs/a-word-of-testimony">A Word of Testimony</a></li>
            </ul>
        </li>       

        <li class="nav-item">
            <a href="https://safe-cove-64619.herokuapp.com/recognition" class="nav-link menu button">
                Recognition
            </a>        
        </li>   
                                                            
    </ul><!-- /.nav -->
</div><!-- /.nav-primary -->

<div class="top-mobile-icon pull-xs-right hidden-md-up">
<a href="faq"><i class="fa fa-question-circle"></i></a>
</div>
<div class="top-mobile-icon pull-xs-right hidden-md-up">
<a href="contact"><i class="fa fa-envelope"></i></a>
</div>

                                       
                    </div><!-- /.header-top-inner -->
                </div><!-- /.header-top -->
            </div><!-- /.vessel -->
        </div><!-- /.header-inner -->
    </div><!-- /.header -->
</div><!-- /.header-wrapper-->
        
    <div class="main-wrapper">
        <div class="main">
            <div class="main-inner">
                <div class="content">
                    <main>{% spaceless %}{% block content %}{% endblock %}{% endspaceless %}</main>
                </div><!-- /.content -->
            </div><!-- /.main-inner -->
        </div><!-- /.main -->
    </div><!-- /.main-wrapper -->

<div class="icon-bar navbar-fixed-bottom hidden-md-up">
    <a href="https://safe-cove-64619.herokuapp.com/map"><i class="fa fa-search"></i></a>
    <a href="https://safe-cove-64619.herokuapp.com/beliefs"><i class="fa fa-book"></i></a>
    <a href="https://safe-cove-64619.herokuapp.com/history"><i class="fa fa-history"></i></a>
    <a href="https://safe-cove-64619.herokuapp.com/testimonies"><i class="fa fa-users"></i></a>
    <a href="https://safe-cove-64619.herokuapp.com/recognition"><i class="fa fa-comments"></i></a>
</div>

<div class="footer-wrapper hidden-md-down">
    <div class="vessel">
        <div class="footer-inner">
            

            <div class="footer-bottom">
                <div class="footer-left">
                    &copy; 2017 All Rights reserved.
                </div><!-- /.footer-left -->

                <div class="footer-right">
                    <ul class="nav nav-pills">
                        <li class="nav-item"><a href="https://safe-cove-64619.herokuapp.com/faq" class="nav-link">FAQ's</a></li>
                        <li class="nav-item"><a href="https://safe-cove-64619.herokuapp.com/privacy" class="nav-link">Privacy Policy</a></li>
                        <li class="nav-item"><a href="https://safe-cove-64619.herokuapp.com/contact" class="nav-link">Contact</a></li>
                    </ul>
                </div><!-- /.footer-right -->           
            </div><!-- /.footer-bottom -->
        </div><!-- /.footer-inner -->
    </div><!-- /.vessel -->
</div><!-- /.footer-wrapper -->
</div><!-- /.page-wrapper -->

<script type="text/javascript" src="{% static 'js/villareal/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/villareal/jquery.ezmark.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/villareal/tether.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/villareal/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/villareal/gmap3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/villareal/leaflet.js' %}"></script>
<script type="text/javascript" src="{% static 'js/villareal/leaflet.markercluster.js' %}"></script>
<script type="text/javascript" src="{% static 'css/libraries/owl-carousel/owl.carousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'css/libraries/chartist/chartist.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/villareal/scrollPosStyler.js' %}"></script>
<script type="text/javascript" src="{% static 'js/villareal/villareal.js' %}"></script>
{% block extra_js %}{% endblock %}
</body>
</html>
