{% load lampstands_tags cache staticfiles wagtailcore_tags wagtailimages_tags wagtailsettings_tags %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>{% block title %}{% endblock %}</title>
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}" >  
    <link rel="stylesheet" type="text/css" id="css-primary" href="{% static 'css/villareal-turquoise.css' %}" >
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'css/img/LCblueicon.ico' %}" >
    {% block extra_links %} {% endblock %}
</head>

<body class="content-title-center">
<div class="page-wrapper">
    
        <div class="header-wrapper">
    <div class="header header-small">
        <div class="header-inner">
            <div class="vessel">
                
                <div class="header-top header-background">
                    <div class="header-top-inner">
                        <a class="header-logo" href="/">  
                            <span class="header-logo-text">the local churches</span>
                        </a><!-- /.header-logo -->
                    <div class="nav-primary-wrapper collapse navbar-toggleable-sm">
    <ul class="nav nav-pills nav-primary bleed out-animation">
        <li class="nav-item nav-item-parent">
            <a href="https://www.localchurches.org/map" class="nav-link menu button">
                Find Us
            </a>
            <ul class="sub-menu">
                <li><a href="https://www.localchurches.org/churches">List of Churches</a></li>
            </ul> 
        </li>
       
        <li class="nav-item">
            <a href="https://www.localchurches.org/testimonies" class="nav-link menu button">
                Testimonies
            </a>
        </li>    

        <li class="nav-item nav-item-parent">
            <a href="https://www.localchurches.org/beliefs" class="nav-link menu button">
                Beliefs
            </a>

            <ul class="sub-menu">
                <li><a href="https://www.localchurches.org/beliefs/our-beliefs">Our Beliefs</a></li>
                <li><a href="https://www.localchurches.org/beliefs/our-standing">Our Standing</a></li>
                <li><a href="https://www.localchurches.org/beliefs/our-mission">Our Mission</a></li>
                <li><a href="https://www.localchurches.org/beliefs/our-hope">Our Hope</a></li>
                <li><a href="https://www.localchurches.org/beliefs/recovery">Concerning the Recovery</a></li>
                <li><a href="https://www.localchurches.org/beliefs/salvation">Concerning Salvation</a></li>
                <li><a href="https://www.localchurches.org/beliefs/christian-life">Concerning Christian Life</a></li>
                <li><a href="https://www.localchurches.org/beliefs/church-life">Concerning Church Life</a></li>
            </ul>           
        </li>   
       

        <li class="nav-item">
            <a href="https://www.localchurches.org/recognition" class="nav-link menu button">
                Recognition
            </a>        
        </li>   
              
         <li class="nav-item">
            <a href="https://www.localchurches.org/history" class="nav-link menu button">
                History
            </a>       
        </li>

    </ul><!-- /.nav -->
</div><!-- /.nav-primary -->

<div class="top-mobile-icon pull-xs-right hidden-md-up">
<a href="https://www.localchurches.org/faq"><i class="fa fa-question-circle"></i></a>
</div>
<div class="top-mobile-icon pull-xs-right hidden-md-up">
<a href="https://www.localchurches.org/contact"><i class="fa fa-envelope"></i></a>
</div>                                    
                         
                    </div><!-- /.header-top-inner -->
                </div><!-- /.header-top -->

            </div><!-- /.vessel -->
        </div><!-- /.header-inner -->
    </div><!-- /.header -->
</div><!-- /.header-wrapper-->
    

    <div class="main-wrapper">
        <div class="main">
            <div class="main-inner">      
                
                <main>{% spaceless %}{% block content %}{% endblock %}{% endspaceless %}</main>

            </div><!-- /.main-inner -->
        </div><!-- /.main -->
    </div><!-- /.main-wrapper -->

<div class="icon-bar navbar-fixed-bottom hidden-md-up">
    <a {% block findicon %} {% endblock %} href="https://www.localchurches.org/churches"><i class="fa fa-search"></i>
        <p style="font-size: small; font-family: sans-serif;">Find Us</p>
    </a>
    <a {% block testimicon %} {% endblock %} href="https://www.localchurches.org/testimonies"><i class="fa fa-users"></i>
        <p style="font-size: small; font-family: sans-serif;">Testimonies</p>    
    </a>
    <a {% block belieficon %} {% endblock %} href="https://www.localchurches.org/beliefs"><i class="fa fa-book"></i>
        <p style="font-size: small; font-family: sans-serif;">Beliefs</p>
    </a>
    <a {% block recogicon %} {% endblock %} href="https://www.localchurches.org/recognition"><i class="fa fa-comments"></i>
        <p style="font-size: small; font-family: sans-serif;">Recognition</p>
    </a>
    <a {% block histicon %} {% endblock %} href="https://www.localchurches.org/history"><i class="fa fa-history"></i>
    <p style="font-size: small; font-family: sans-serif;">History</p>
    </a>
</div>

    <div class="footer-wrapper hidden-md-down">
    <div class="vessel">
        <div class="footer-inner">
            

            <div class="footer-bottom">
                <div class="footer-left">
                    &copy; 2017 All Rights reserved.
                </div><!-- /.footer-left -->

                <div class="footer-right">
                    <ul class="nav nav-pills">
                        <li class="nav-item"><a href="https://www.localchurches.org/faq" class="nav-link">FAQ's</a></li>
                        <li class="nav-item"><a href="https://www.localchurches.org/privacy" class="nav-link">Privacy Policy</a></li>
                        <li class="nav-item"><a href="https://www.localchurches.org/contact" class="nav-link">Contact</a></li>
                    </ul>
                </div><!-- /.footer-right -->           
            </div><!-- /.footer-bottom -->
        </div><!-- /.footer-inner -->
    </div><!-- /.vessel -->
</div><!-- /.footer-wrapper -->
</div><!-- /.page-wrapper -->

{% block extra_js %}
{% endblock %}
</body>
</html>