{% extends "lampstands/base_blog.html" %}
{% load lampstands_tags cache staticfiles wagtailuserbar wagtailcore_tags wagtailimages_tags wagtailsettings_tags %}
{% block title %}
{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %} | The Local Churches
{% endblock %}

{% block content %}
{% get_next_sibling_by_order self as next_page %}
{% get_prev_sibling_by_order self as prev_page %}

    <div class="content-title">
    <div class="content-title-inner">
        <div class="vessel">
                    <h1>{{self.title}}</h1>
        </div><!-- /.vessel -->
    </div><!-- /.content-title-inner -->
    </div><!-- /.content-title -->          
    
    <div class="specifications--no-visit">
        <div class="vessel">
            <div class="popular-tags">
                <ul class="closed">
                    {% with self.tags.all as tags %}
                        {% if tags %}
                            {% for tag in tags %}
                                <li>
                                    <a href="{% pageurl self.blog_index %}?tag={{ tag.tag.slug }}">{{ tag.tag }}</a>
                                </li>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </ul>
            </div>
        </div>
    </div>

    <div class="vessel">
        <div class="row">

                    <div class="col-md-12 col-lg-12">
                            <div class="content">                  
                                <div class="post-detail">
                                    <p>{{self.wholestory}}</p>
                                    {% include "lampstands/includes/streamfield.html" %}
                                </div><!-- /.post-detail -->

                            </div><!-- /.content -->
                    </div><!-- /.col-* -->

        </div><!-- /.row -->
    </div><!-- /.vessel -->

<div class="container pagination">
     {% if prev_page %}
         <div class="previous">
            <a class="page-link" aria-label="Previous" href="{% pageurl prev_page %}">
                <p> Previous &nbsp;</p>
            </a>
        </div>
    {% endif %}
    {% if next_page %}
        <div class="next">
            <a class="page-link" aria-label="Next" href="{% pageurl next_page %}">
                <p> Next </p>
            </a>
        </div>
    {% endif %}
</div>

{% endblock %}