{% extends "lampstands/base_blog.html" %}
{% load staticfiles lampstands_tags wagtailcore_tags wagtailimages_tags %}

{% block content %}
    
    {% get_popular_tags self as poptags %}

    <div class="container">
        <div class="row">

                    <div class="col-md-4 col-lg-3">
                            <div class="sidebar">
                                <div class="widget">
                                    
                                <h2 class="widgettitle">Navigation</h2>

                                <ul class="menu nav nav-stacked">
                                    <li class="nav-item">
                                        <a href="#" class="nav-link"><i class="fa fa-chevron-right"></i> Next Post from the Same Locality </a>      
                                    </li>

                                    <li class="nav-item">
                                        <a href="#" class="nav-link"><i class="fa fa-chevron-right"></i>  Blog Index</a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="#" class="nav-link"><i class="fa fa-chevron-right"></i> Similar Post </a>          
                                    </li>

                                </ul><!-- /.nav -->
                                </div><!-- /.widget -->
                            </div><!-- /.sidebar -->
                    </div><!-- /.col-* -->

                    <div class="col-md-12 col-lg-9">
                            <div class="content">                  
                                <div class="post-detail">
                                    <p><span class="drop-cap">{{self.letterdropcap}}</span>{{self.firstparagraph|richtext}}</p>

                                {% if self.body %}
                                    {{ self.body|richtext }}
                                {% endif %}

                                {% include "lampstands/includes/streamfield.html" %}

                                <p><i>{{ self.author }}</i><br>
                                ({{ self.from_area }})</p>

                                </div><!-- /.post-detail -->

                            </div><!-- /.content -->
                    </div><!-- /.col-* -->

        </div><!-- /.row -->
    </div><!-- /.container -->    

    <div class="container">
        <h1>{{ self.intro }}</h1>
    </div>

    <section class="blog">
        <div class="container">
            <div class="popular-tags">
                {% if poptags %}
                    <div class="closed">
                        <p>
                            {% for tag in poptags %}
                                {% if request.GET.tag|length and request.GET.tag|safe == tag.slug %}
                                    <a class="filtering" href="?tag={{ tag.slug }}">{{ tag }}</a>
                                {% else %}
                                    <a href="?tag={{ tag.slug }}">{{ tag }}</a>
                                {% endif %}
                            {% endfor %}
                            {# Optional 'show all' appears if filtering by tag #}
                            {% if request.GET.tag|length %}
                                {% for tag in poptags %}
                                    {% if request.GET.tag|safe == tag.slug %}
                                        <a class="before" href="{% pageurl self %}">show all</a>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </p>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="container">
            {% include "lampstands/includes/blog_listing.html" %}
        </div>

    </section>
{% endblock %}
