<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,300,700&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="assets/libraries/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="assets/libraries/chartist/chartist.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/leaflet.css" rel="stylesheet" type="text/css">
    <link href="assets/css/leaflet.markercluster.css" rel="stylesheet" type="text/css">
    <link href="assets/css/leaflet.markercluster.default.css" rel="stylesheet" type="text/css">    
    <link href="assets/css/villareal-turquoise.css" rel="stylesheet" type="text/css" id="css-primary">
	<link rel="shortcut icon" type="image/x-icon" href="assets/favicon.png">
	
    <title>Local Churches-A Word of Testimony</title>
</head>

<body class="content-title-center">
<div class="page-wrapper">
	
		<div class="header-wrapper">
	<div class="header header-small">
		<div class="header-inner">
			<div class="container">
				
				<div class="header-top header-background">
					<div class="header-top-inner">
						<a class="header-logo" href="index-static-image-filter-center.html">
							
							<span class="header-logo-text">the local churches</span>
						</a><!-- /.header-logo -->
					<div class="nav-primary-wrapper collapse navbar-toggleable-sm">
	<ul class="nav nav-pills nav-primary">
		<li class="nav-item nav-item-parent">
			<a href="index-static-image-filter-center.html" class="nav-link ">
				Find Us
			</a>	

			<ul class="sub-menu">
				<li><a href="...">Interactive Map</a></li>
				<li><a href="...">Listings</a></li>	
			</ul>
		</li>

		<li class="nav-item nav-item-parent">
			<a href="..." class="nav-link ">
				Beliefs
			</a>

			<ul class="sub-menu">
				<li><a href="...">Our Beliefs</a></li>
				<li><a href="...">Our Standing</a></li>
				<li><a href="...">Our Mission</a></li>
				<li><a href="...">Our Hope</a></li>
				<li><a href="...">Concerning the Recovery</a></li>
				<li><a href="...">Concerning Salvation</a></li>
				<li><a href="...">Concerning Christian Life</a></li>
				<li><a href="...">Concerning Church Life</a></li>
			</ul>			
		</li>	
		
		<li class="nav-item nav-item-parent	">
			<a href="#" class="nav-link ">
				History
			</a>	

			<ul class="sub-menu">
				<li><a href="agents-row.html">Sample Row</a></li>
				<li><a href="agents-grid.html">Sample Grid</a></li>
			</ul>		
		</li>

		<li class="nav-item">
			<a href="blog-grid-fullwidth.html" class="nav-link ">
				Testimonies
			</a>

		</li>		

		<li class="nav-item">
			<a href="blog-grid-fullwidth2.html" class="nav-link ">
				Recognition
			</a>		
		</li>	
					
	</ul><!-- /.nav -->
</div><!-- /.nav-primary -->

									
						<button class="navbar-toggler pull-xs-right hidden-md-up" type="button" data-toggle="collapse" data-target=".nav-primary-wrapper">
	                        <span></span>
	                        <span></span>
	                        <span></span>
	                    </button>							
					</div><!-- /.header-top-inner -->
				</div><!-- /.header-top -->

			</div><!-- /.container -->
		</div><!-- /.header-inner -->
	</div><!-- /.header -->
</div><!-- /.header-wrapper-->
    

    <div class="main-wrapper">
	    <div class="main">
	        <div class="main-inner">      
					<div class="content-title">
	<div class="content-title-inner">
		<div class="container">		
			<h1>A Word of Testimony</h1>		
	
		</div><!-- /.container -->
	</div><!-- /.content-title-inner -->
	</div><!-- /.content-title -->			
				<div class="container">
					<div class="row">
						<div class="col-md-12 col-lg-12">
				            <div class="content">	               
				          <div class="post-detail">  	
	<p><span class="drop-cap">W</span>e wish to share a word of testimony concerning our experience of Christ and our practice of the church life. We testify to all that the Lord is bringing us back to our first love for Himself, back to Himself as our life and our everything. We have come to know the Lord Jesus as the altogether lovely One, as the fairest among ten thousand. 
	The most charming and attracting person in the universe, He has won our hearts and has drawn out of us a fervent love for Him and devotion to Him. As Mary broke the alabaster flask and anointed the Lord, we desire to pour out ourselves upon Him. This desire is fittingly expressed in a stanza of a hymn written by a brother in one of the churches:
	</p>

<blockquote>
	<p align="center">Precious Lord, my flask of alabaster
	<br>
	Gladly now I break in love for Thee;
	<br>
	I anoint Thy head, beloved Master;
	<br>
	Lord, behold, I've saved the best for Thee.
	<br>
	Dearest Lord, I waste myself upon Thee;
	<br>
	Loving Thee, I'm deeply satisfied.
	<br>
	Love outpoured from hidden depths within me,
	<br>
	Costly oil, dear Lord, I would provide.
	</p>
</blockquote>
	<p>
	We testify that our hearts have been captured not by a teaching, nor by a practice, nor by a movement—we have been conquered by a wonderful person, even by Christ Himself. Above all else, we wish to bear testimony to God, to man, and to the principalities and powers that this lovely One is worthy of all we are and have. Our first responsibility and calling is to testify of Him by manifesting what He is in us and to us. May the Lord bring us all to the point where we can say with the Apostle Paul, "To me to live is Christ."
	</p>

	<p>
	Along with the enjoyment of this unsearchable, all-inclusive Christ, we have the privilege of participating in the recovery of the practical church life. Today, by His mercy and grace, the Lord is bringing us back to the beginning, back to the enjoyment of Christ and to the practice of the church life.
	</p>

	
	<p> By: the Co-workers in the Lord’s Recovery
	</p>
	

	
</div><!-- /.post-detail -->

				            </div><!-- /.content -->
			            </div><!-- /.col-* -->

			            		            </div><!-- /.row -->
	            </div><!-- /.container -->
	        </div><!-- /.main-inner -->
	    </div><!-- /.main -->
    </div><!-- /.main-wrapper -->

    <div class="footer-wrapper">
	<div class="container">
		<div class="footer-inner">
			

			<div class="footer-bottom">
				<div class="footer-left">
					&copy; 2017 All Rights reserved.
				</div><!-- /.footer-left -->

				<div class="footer-right">
					<ul class="nav nav-pills">
						<li class="nav-item"><a href="faq1.html" class="nav-link">FAQ's</a></li>
						<li class="nav-item"><a href="privacy.html" class="nav-link">Privacy Policy</a></li>
						<li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
					</ul>
				</div><!-- /.footer-right -->			
			</div><!-- /.footer-bottom -->
		</div><!-- /.footer-inner -->
	</div><!-- /.container -->
</div><!-- /.footer-wrapper -->
</div><!-- /.page-wrapper -->


<script src="//maps.googleapis.com/maps/api/js" type="text/javascript"></script>

<script type="text/javascript" src="assets/js/jquery.js"></script>
<script type="text/javascript" src="assets/js/jquery.ezmark.min.js"></script>
<script type="text/javascript" src="assets/js/tether.min.js"></script>
<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/gmap3.min.js"></script>
<script type="text/javascript" src="assets/js/leaflet.js"></script>
<script type="text/javascript" src="assets/js/leaflet.markercluster.js"></script>
<script type="text/javascript" src="assets/libraries/owl-carousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="assets/libraries/chartist/chartist.min.js"></script>
<script type="text/javascript" src="assets/js/scrollPosStyler.js"></script>
<script type="text/javascript" src="assets/js/villareal.js"></script>

</body>
</html>