{% extends "lampstands/base_blog.html" %}
{% load staticfiles lampstands_tags wagtailcore_tags wagtailimages_tags %}

{% block content %}
    
    {% get_popular_tags self as poptags %}

                    <div class="content-title">
    <div class="content-title-inner">
        <div class="container">     
            <h1>Testimonies</h1>        
    
        </div><!-- /.container -->
    </div><!-- /.content-title-inner -->
    </div><!-- /.content-title -->                          

                <div class="content">
                    <div class="container">
    <div class="posts posts-grid">  
        <div class="row">   
            
                <div class="col-lg-3">
                    <div class="post">
                        <div class="post-image">
                            <a href="blog-detail.html" class="post-image-link" style="background-image: url('assets/img/tmp/tmp-1.jpg');"></a>

                            <div class="post-author">                   
                                <a href="blog-detail.html">
                                    <span class="post-author-name">by Alice Sharp</span>
                                </a>
                            </div><!-- /.post-author -->
                        </div><!-- /.post-image -->

                        <div class="post-title">
                            <h2><a href="blog-detail.html">Praesent mollis arcu eget condimentum gravida</a></h2>
                        </div><!-- /.post-title -->

                        <div class="post-meta">
                            <div class="post-meta-item">
                                Locality: 
                            </div><!-- /.post-meta-item -->

                            </div><!-- /.post-meta -->

                        <div class="post-content">
                            <p>
                                In accumsan fermentum massa, vel tincidunt metus condimentum a. Nunc et aliquam ipsum. Nulla laoreet felis diam, sed blandit libero sollicitudin nec. 
                            </p>
                        </div><!-- /.post-content -->

                        <div class="post-read-more">
                            <a href="blog-detail.html">Read More <i class="fa fa-chevron-right"></i></a>
                        </div><!-- /.post-read-more -->
                    </div><!-- /.post-->
                </div><!-- /.col-* -->
            
                <div class="col-lg-3">
                    <div class="post">
                        <div class="post-image">
                            <a href="blog-detail.html" class="post-image-link" style="background-image: url('assets/img/tmp/tmp-1.jpg');"></a>

                            <div class="post-author">                   

                                <a href="blog-detail.html">
                                    <span class="post-author-name">by Alice Sharp</span>
                                </a>
                            </div><!-- /.post-author -->
                        </div><!-- /.post-image -->

                        <div class="post-title">
                            <h2><a href="blog-detail.html">Praesent mollis arcu eget condimentum gravida</a></h2>
                        </div><!-- /.post-title -->

                        <div class="post-meta">
                            <div class="post-meta-item">
                                Locality:
                            </div><!-- /.post-meta-item -->

                        </div><!-- /.post-meta -->

                        <div class="post-content">
                            <p>
                                In accumsan fermentum massa, vel tincidunt metus condimentum a. Nunc et aliquam ipsum. Nulla laoreet felis diam, sed blandit libero sollicitudin nec. 
                            </p>
                        </div><!-- /.post-content -->

                        <div class="post-read-more">
                            <a href="blog-detail.html">Read More <i class="fa fa-chevron-right"></i></a>
                        </div><!-- /.post-read-more -->
                    </div><!-- /.post-->
                </div><!-- /.col-* -->
            
                <div class="col-lg-3">
                    <div class="post">
                        <div class="post-image">
                            <a href="blog-detail.html" class="post-image-link" style="background-image: url('assets/img/tmp/tmp-1.jpg');"></a>

                            <div class="post-author">                   
                                <a href="blog-detail.html">
                                    <span class="post-author-name">by Alice Sharp</span>
                                </a>
                            </div><!-- /.post-author -->
                        </div><!-- /.post-image -->

                        <div class="post-title">
                            <h2><a href="blog-detail.html">Praesent mollis arcu eget condimentum gravida</a></h2>
                        </div><!-- /.post-title -->

                        <div class="post-meta">
                            <div class="post-meta-item">
                                Locality:
                            </div><!-- /.post-meta-item -->
                    
                        </div><!-- /.post-meta -->

                        <div class="post-content">
                            <p>
                                In accumsan fermentum massa, vel tincidunt metus condimentum a. Nunc et aliquam ipsum. Nulla laoreet felis diam, sed blandit libero sollicitudin nec. 
                            </p>
                        </div><!-- /.post-content -->

                        <div class="post-read-more">
                            <a href="blog-detail.html">Read More <i class="fa fa-chevron-right"></i></a>
                        </div><!-- /.post-read-more -->
                    </div><!-- /.post-->
                </div><!-- /.col-* -->
            
                <div class="col-lg-3">
                    <div class="post">
                        <div class="post-image">
                            <a href="blog-detail.html" class="post-image-link" style="background-image: url('assets/img/tmp/tmp-1.jpg');"></a>

                            <div class="post-author">                   
                                <a href="blog-detail.html">
                                    <span class="post-author-name">by Alice Sharp</span>
                                </a>
                            </div><!-- /.post-author -->
                        </div><!-- /.post-image -->

                        <div class="post-title">
                            <h2><a href="blog-detail.html">Praesent mollis arcu eget condimentum gravida</a></h2>
                        </div><!-- /.post-title -->

                        <div class="post-meta">
                            <div class="post-meta-item">
                                Locality:
                            </div><!-- /.post-meta-item -->

                        </div><!-- /.post-meta -->

                        <div class="post-content">
                            <p>
                                In accumsan fermentum massa, vel tincidunt metus condimentum a. Nunc et aliquam ipsum. Nulla laoreet felis diam, sed blandit libero sollicitudin nec. 
                            </p>
                        </div><!-- /.post-content -->

                        <div class="post-read-more">
                            <a href="blog-detail.html">Read More <i class="fa fa-chevron-right"></i></a>
                        </div><!-- /.post-read-more -->
                    </div><!-- /.post-->
                </div><!-- /.col-* -->
                        
        </div><!-- /.row -->
    </div><!-- /.posts-->

<div class="pagination-wrapper">
    <ul class="pagination">
        <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>

        <li class="page-item">
            <a class="page-link" href="#">1</a>
        </li>

        <li class="page-item"><a class="page-link" href="#">2</a></li>

        <li class="page-item active"><a class="page-link" href="#">3 <span class="sr-only">(current)</span></a></li>

        <li class="page-item"><a class="page-link" href="#">4</a></li>

        <li class="page-item"><a class="page-link" href="#">5</a></li>

        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul><!-- /.pagination -->
</div><!-- /.pagination-wrapper -->

</div><!-- /.container -->

                </div><!-- /.content -->

        <div class="container">
            {% include "lampstands/includes/blog_listing.html" %}
        </div>

    </section>
{% endblock %}
