{% extends "lampstands/base_blog.html" %}
{% load wagtailcore_tags wagtailimages_tags lampstands_tags %}
{% block title %}
{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %} | The Local Churches
{% endblock %}

{% block content %}
<div class="content-title">
    <div class="content-title-inner">
        <div class="container">     
            <h1>Church in {{self.locality_name}}</h1>       
                    
        </div><!-- /.container -->
    </div><!-- /.content-title-inner -->
                    </div><!-- /.content-title -->
            
            <div class="" style="margin-top:-10px;">
                <ol class="breadcrumb" style="padding:0.75rem 1.5rem;">
                <li><a href="https://safe-cove-64619.herokuapp.com/churches">Worldwide</a></li>
                <li><a href="https://safe-cove-64619.herokuapp.com/churches/?area={{self.locality_country}}">{{self.locality_country.name}}</a></li>
                <li><a href="https://safe-cove-64619.herokuapp.com/churches/?area={{self.locality_state_or_province}}">{{self.locality_state_or_province}}</a></li>
                <li class="active">{{self.locality_name}}</li>
                </ol>
            </div>  
            
                <div class="content">
                    <div class="container">
                    <div class="row" style="margin:0px auto;">
        <div class="listing-detail col-md-8 col-lg-12">
        
                
                   <h2>Information</h2>
            
                    <div class="col-lg-6">
                     {% if self.feed_image %}
                        {% image self.feed_image fill-900x900 as photo %}
                            <img src="{{ photo.url }}" width="{{ photo.width }}" height="{{ photo.height }}" alt="{{ photo.alt }}" />
                    {% endif %}

                     <table class="contact" style="margin-bottom:30px;">
                        <tbody>
                        <tr>
                            <th>Address:</th>
                        <td>{{self.meeting_address}}<br></td>
                        </tr>
                        <tr>
                            <th>Telephone:</th>
                            <td>{{self.locality_phone_number}}</td>
                        </tr>
                        <tr>
                            <th>E-mail:</th>
                            <td><a href="mailto:{{self.locality_email}}"</a>{{self.locality_email}}</td>
                        </tr>
                        <tr>
                            <th>Website:</th>
                            <td><a href="{{self.locality_web}}">{{self.locality_web}}</a></td>
                        </tr>
                        <tr>
                            <th>Last Updated:</th>
                            <td>{{self.last_update}}</td>
                        </tr>
                        </tbody>
                        </table>
                        </div><!-- col-* -->
                       <div class="col-lg-6">

                        <iframe src="//www.google.com/maps/embed/v1/place?q={{self.position}}&zoom=18&key=AIzaSyDODm8XvE-5yGVSr90X8QtoIEEOYXkNdTY" width="100%" height="305px" position="relative" frameborder="0" style="border:0"></iframe>
            
                                
                    </div><!-- /.col -->
            </div><!-- /.listing-detail -->
        
            </div><!-- /.row -->
            </div><!-- /.container -->
                </div><!-- /.content -->

{% endblock %}

{% block extra_js %}
{% endblock %}