{% extends "lampstands/base_blog.html" %}
{% load staticfiles lampstands_tags wagtailcore_tags wagtailimages_tags %}
{% block title %}
{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %} | The Local Churches
{% endblock %}

{% block extra_links %} 
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" >
{% endblock %}
{% block content %}
    
    <div class="map-toggle" style="background-color: #555; width: 100%;">
        <h6 style="font-weight: 500; color: white; text-align: center;">
                <button style="cursor: default; border-radius: 4px; border-color: transparent; box-shadow: inset 0 0 10px #ccc; background-color: #0BB7A5; padding: 0.5em 1.18em; margin: 0 0.7em;">Search by List
                </button>
                <button style="border-radius: 4px; background-color: darkgrey; padding: 0.5em 1em; margin: 0 0.7em;" onclick="location.href='https://safe-cove-64619.herokuapp.com/map/'">Search by Map
                </button>
        </h6>
    </div> <!-- /map-toggle/ -->


    <div class="content-title hidden-md-down">
            <div class="content-title-inner">
                <div class="vessel">
                    <a href="https://safe-cove-64619.herokuapp.com/churches">  
                    <h1>List of Churches</h1> 
                    </a>              
                </div>
            </div>
    </div>       
  

    

    <div class="vessel">
    <h6 style="text-align: center; margin: 1.5em 1.5em 0.5em 1.5em; color: #666666; line-height: 1.2em;">
    <b>NOTE</b>: Scroll right to see more data on the table-list.
    </h6>
    </div>

    <div class="content hidden-md-down">
        <div class="vessel">
            <div class="posts posts-grid">  
                <div class="row">
                <br>
               

        <table class="table order-column stripe hover display" id="churches-table" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Index</th>
                    <th>City</th>
                    <th>Address</th>
                    <th>State/Prov.</th>
                    <th>Country</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Website</th>
                </tr>
            </thead>

            <tbody>
                {% for branch in church_posts %} 
                    <tr>
                        <td></td>
                        <td><a href="https://safe-cove-64619.herokuapp.com{{branch.url}}">{{branch.locality_name}}</a></td>
                        <td>{{branch.meeting_address}}</td>
                        <td>{{branch.locality_state_or_province}}
                        <td>{{branch.locality_country.name}}</td>
                        <td>{{branch.locality_phone_number}}</td>
                        <td>{{branch.locality_email}}</td>
                        <td>{{branch.locality_web}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
  
                </div><!-- /.row -->
            </div><!-- /.posts-->
        </div><!-- /.vessel -->
    </div><!-- /.content -->

    <div class="content hidden-lg-up">
        <div class="vessel">
            <div class="posts posts-grid">  
                <div class="row">
                <br>
          

                 <table class="display" id="churches-mobile-table" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th></th>
                    <th>City</th>
                    <th>State/Prov.</th>
                    <th>Country</th>
                </tr>
            </thead>
        </table>
        <br>
        <br>        

                </div><!-- /.row -->
            </div><!-- /.posts-->
        </div><!-- /.vessel -->
    </div><!-- /.content -->



{% endblock %}
 
{% block extra_js %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>    
<script>
    // Read a page's GET URL variables and return them as an associative array.
    
    $.urlParam = function(name){
    var results = new RegExp('[\\?&]' + name + '=([^&#]*)').exec(window.location.href);
    if (!results)
    {
        return;
    }
    return results[1] || "";
    };

    /* Formatting function for row details - modify as you need */
    function format ( d ) {
        // `d` is the original data object for the row
        return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
            '<tr>'+
                '<td>Meeting address:</td>'+
                '<td>'+d.meeting_address+'</td>'+
            '</tr>'+
            '<tr>'+
                '<td>Phone number:</td>'+
                '<td>'+d.locality_phone_number+'</td>'+
            '</tr>'+
            '<tr>'+
                '<td>Email:</td>'+
                '<td>'+d.locality_email+'</td>'+
            '</tr>'+
            '<tr>'+
                '<td>Website:</td>'+
                '<td>'+d.locality_web+'</td>'+
            '</tr>'+
        '</table>';
    }

    $(document).ready(function() {
    var t = $('#churches-table').DataTable( {
        "oSearch": {"sSearch": $.urlParam('area')},
        "scrollX": true,
        "columnDefs": [ {
            "searchable": false,
            "orderable": false,
            "targets": 0
        } ],
        "order": [[ 1, 'asc' ]],
    } );

    var mobiletable = $('#churches-mobile-table').DataTable( {
        "oSearch": {"sSearch": $.urlParam('area')},
        "ajax": {
            "url": "{{self.get_locality_json}}",
            "dataSrc": function (json) {
              var return_data = new Array();
              for(var i=0;i< json.length; i++){
                return_data.push({
                  'locality_name': json[i].locality_name,
                  'locality_state_or_province': json[i].locality_state_or_province,
                  'locality_country': json[i].locality_country.name,
                  'meeting_address': json[i].meeting_address,
                  'locality_phone_number': json[i].locality_phone_number,
                  'locality_email': json[i].locality_email,
                  'locality_web': json[i].locality_web,
                })
              }
              return return_data;
            }
        },
        "scrollX": true,
        "order": [[1, 'asc']],
        "columnDefs": [
            { "width": "20%", "targets": 1 }
        ],
        "columns": [
            {
                "className":      'details-control',
                "data":           null,
                "orderable":      false,
                "defaultContent": ''
            },
            { "data": "locality_name" },
            { "data": "locality_state_or_province" },
            { "data": "locality_country" },
        ],
    } );
 
    t.on( 'order.dt search.dt', function () {
        t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } ).draw();

    // Add event listener for opening and closing details
    $('#churches-mobile-table tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = mobiletable.row( tr );
 
        if ( row.child.isShown() ) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
        }
        else {
            // Open this row
            row.child( format(row.data())).show();
            tr.addClass('shown');
        }
    } );

    } );

</script>
{% endblock %}

{% block findicon %}
class="icon-bar active"
{% endblock %}