{% extends "lampstands/base_blog.html" %}
{% load static lampstands_tags wagtailcore_tags wagtailimages_tags %}
{% block title %}
{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %} | The Local Churches
{% endblock %}
{% block content %}

<div class="content-title">
    <div class="content-title-inner">
        <div class="vessel">
            <h1>Contact Form</h1>
        </div><!-- /.vessel -->
    </div><!-- /.content-title-inner -->
</div><!-- /.content-title -->

<div class="about-hero">
    <div class="main-content">
        <div class="vessel">
            <div class="content" style="text-align: center;">
                <h3 style="padding: 20px 0 35px 0;">
                    {{ page.thank_you_text|default:"Thank you." }} {{ page.thank_you_follow_up|default:"We'll be in touch." }}
                </h3>
                {% if page.landing_page_button_link %}
                <a style="text-decoration:underline;" class="btn thanks-btn" href="{% pageurl page.landing_page_button_link %}">&laquo; {{ page.landing_page_button_title|default:"Back" }}</a>
                {% else %}
                <a style="text-decoration:underline;" class="btn thanks-btn" href="{% pageurl page %}">&laquo; Back to contact form</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
