{% extends "lampstands/base_blog.html" %}
{% load static lampstands_tags wagtailcore_tags wagtailimages_tags %}
{% block title %}
{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %} | The Local Churches
{% endblock %}

{% block content %}

<div class="content-title">
    <div class="content-title-inner">
        <div class="vessel">     
            <h1>Contact Form</h1>       
    
        </div><!-- /.vessel -->
    </div><!-- /.content-title-inner -->
</div><!-- /.content-title -->          

<div class="content">
    <div class="vessel">
        <div class="row">   
            <div class="col-md-9 col-lg-12">
                    <div class="row">
                        <form class="contact-form" action="{% pageurl page %}" method="post" id="contact-us-form">
                                {{ page.intro|richtext }}
                                {% csrf_token %}
                                {% spaceless %}

                                {% for field in form %}
                                <div class="contact-form__row contact-form__row--{{ field.id_for_label }}">
                                    <div class="form-group">
                                        {{ field.errors }}
                                        <label for="{{ field.id_for_label }}" class="contact-form__label {% if field.field.required %} contact-form__label--required {% endif %}">
                                            {{ field.label }}
                                        </label>
                                        <div class="contact-form__field-wrapper">
                                        {{ field }}
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                                {% endspaceless %}

                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-primary pull-right" id="contact-us-submit"> Post Message</button>
                                </div><!-- /.col-* -->
                        </form>
                    </div><!-- /.row -->
            </div><!-- /.col-* -->
        </div><!-- /.row -->        
    </div><!-- /.vessel -->
</div><!-- /.content -->

{% endblock %}

