{% extends "lampstands/base.html" %}
{% load lampstands_tags cache staticfiles wagtailuserbar wagtailcore_tags wagtailimages_tags wagtailsettings_tags %}
{% block title_postfix %} The Local Churches {% endblock %}
{% block content %}
	        		        
					<div class="content-title">
	<div class="content-title-inner">
		<div class="container">		
			<h1>Frequently Asked Questions</h1>		
	
		</div><!-- /.container -->
	</div><!-- /.content-title-inner -->
</div><!-- /.content-title -->
				

				<div class="container">
					<div class="row">
						<div class="col-md-12 col-lg-12">
				            <div class="content">	               
				            	<div class="faq">
    
        <div class="faq-item">
            <div class="faq-item-question">
                <h2>What is the name of the church?</h2>
            </div><!-- /.faq-item-question -->

            <div class="faq-item-answer">
                <p> The local churches do not have a name. The only name we hold and honor is the name of the Lord Jesus Christ. To take any other name is to insult Him. The term "local church" is not a name; it is a description of the local nature and expression of the church, that is, the church in a locality. To print the words "local church" with capital letters is a serious mistake, for this gives the impression that our name is "local church." Just as the moon is simply the moon regardless of the locality over which it is seen, so the church is simply the church regardless of the locality in which it is established. When the church was established in Jerusalem, it was known simply as the church in Jerusalem (Acts 8:1), and in Antioch, the church was the church at Antioch (Acts 13:1). Likewise, the practical expression of the church in Anaheim today is simply the church in Anaheim. As local churches, we meet in the Lord’s name on the ground of genuine oneness.
                </p>
            </div><!-- /.faq-item-answer -->

        </div><!-- /.faq-item -->
    
        <div class="faq-item">
            <div class="faq-item-question">
                <h2>Who is your leader?</h2>
            </div><!-- /.faq-item-question -->

            <div class="faq-item-answer">
                <p> Our unique leader is Christ. We have no official, permanent, organized human leadership. Furthermore, there is no hierarchy of any kind and no worldwide leader. We regard no person as infallible, and we do not follow anyone blindly. On the contrary, we follow only those whose teaching and practice is in accordance with the truth of God’s Word. Those who take the lead do not lord it over the saints, but rather shepherd them in love. Likewise, those who serve the Lord do not control the churches, but rather serve them as bondslaves of Christ in the ministry of the living Word.                
                </p>
            </div><!-- /.faq-item-answer -->

        </div><!-- /.faq-item -->
    
        <div class="faq-item">
            <div class="faq-item-question">
                <h2>Where is your headquarter?</h2>
            </div><!-- /.faq-item-question -->

            <div class="faq-item-answer">
                <p>Each local church is autonomous in its administration. Therefore, there is no central headquarters. No particular local church should be regarded as the head church or leading church. On the contrary, all the local churches share the same standing before the Lord.                
	            </p>
            </div><!-- /.faq-item-answer -->

        </div><!-- /.faq-item -->
    
        <div class="faq-item">
            <div class="faq-item-question">
                <h2>What do you do in your meetings?</h2>
            </div><!-- /.faq-item-question -->

            <div class="faq-item-answer">
                <p>We pray, praise, sing, give testimonies, and minister the Word. Every Sunday we have the Lord’s table at which all the Lord’s children are welcome to partake with us of the bread and wine. The church meetings are open, and all believers are free to participate.                
				</p>
            </div><!-- /.faq-item-answer -->

        </div><!-- /.faq-item -->
    
        <div class="faq-item">
            <div class="faq-item-question">
                <h2>What is pray-reading?</h2>
            </div><!-- /.faq-item-question -->

            <div class="faq-item-answer">
                <p>The word "pray-reading" is a compound word that describes our practice of praying with the words of the Bible. We pray-read the Word in order to enjoy the life element contained in the Word; we thereby enjoy the Word as our spiritual food. We can testify after many years’ experience that we are edified, strengthened, and inspired by praying with and over God’s words in the Bible. However, the fact that we pray-read the Bible, repeating the words of Scripture in prayer to God, does not mean that we neglect the ordinary reading of the Scriptures or the careful study of the Word of God.
                </p>
            </div><!-- /.faq-item-answer -->

        </div><!-- /.faq-item -->
           
</div><!-- /.faq -->

<div class="pagination-wrapper">
	<ul class="pagination">
		<li class="page-item disabled">
		</li>

		<li class="page-item active">
			<a class="page-link" href="#">1<span class="sr-only">(current)</span></a>
		</li>

		<li class="page-item"><a class="page-link" href="file:///Users/klimanjaya/Desktop/villareal-1.0.5%20copy/villareal/faq2.html">2</a></li>

		<li class="page-item"><a class="page-link" href="file:///Users/klimanjaya/Desktop/villareal-1.0.5%20copy/villareal/faq3.html">3 </a></li>

		<li class="page-item disabled">
		</li>
	</ul><!-- /.pagination -->
</div><!-- /.pagination-wrapper -->

				            </div><!-- /.content -->
			            </div><!-- /.col-* -->




			            </div><!-- /.row -->
	            </div><!-- /.container -->

 {% endblock %}