<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,300,700&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="assets/libraries/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="assets/libraries/chartist/chartist.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/leaflet.css" rel="stylesheet" type="text/css">
    <link href="assets/css/leaflet.markercluster.css" rel="stylesheet" type="text/css">
    <link href="assets/css/leaflet.markercluster.default.css" rel="stylesheet" type="text/css">    
    <link href="assets/css/villareal-turquoise.css" rel="stylesheet" type="text/css" id="css-primary">
	<link rel="shortcut icon" type="image/x-icon" href="assets/favicon.png">
	
    <title>Local Churches - Frequently Asked Questions</title>
</head>

<body class="content-title-center">
<div class="page-wrapper">
	
		<div class="header-wrapper">
	<div class="header header-small">
		<div class="header-inner">
			<div class="container">
				
				<div class="header-top header-background">
					<div class="header-top-inner">
						<a class="header-logo" href="index-static-image-filter-center.html">
							
							<span class="header-logo-text">the local churches</span>
						</a><!-- /.header-logo -->
							
<div class="nav-primary-wrapper collapse navbar-toggleable-sm">
	<ul class="nav nav-pills nav-primary">
		<li class="nav-item nav-item-parent">
			<a href="index-static-image-filter-center.html" class="nav-link ">
				Find Us
			</a>	

			<ul class="sub-menu">
				<li><a href="...">Interactive Map</a></li>
				<li><a href="...">Listings</a></li>	
			</ul>
		</li>

		<li class="nav-item nav-item-parent">
			<a href="..." class="nav-link ">
				Beliefs
			</a>

			<ul class="sub-menu">
				<li><a href="...">Our Beliefs</a></li>
				<li><a href="...">Our Standing</a></li>
				<li><a href="...">Our Mission</a></li>
				<li><a href="...">Our Hope</a></li>
				<li><a href="...">Concerning the Recovery</a></li>
				<li><a href="...">Concerning Salvation</a></li>
				<li><a href="...">Concerning Christian Life</a></li>
				<li><a href="...">Concerning Church Life</a></li>
			</ul>			
		</li>	
		
		<li class="nav-item nav-item-parent	">
			<a href="#" class="nav-link ">
				History
			</a>	

			<ul class="sub-menu">
				<li><a href="agents-row.html">Sample Row</a></li>
				<li><a href="agents-grid.html">Sample Grid</a></li>
			</ul>		
		</li>

		<li class="nav-item">
			<a href="blog-grid-fullwidth.html" class="nav-link ">
				Testimonies
			</a>

		</li>		

		<li class="nav-item">
			<a href="blog-grid-fullwidth2.html" class="nav-link ">
				Recognition
			</a>		
		</li>	
					
	</ul><!-- /.nav -->
</div><!-- /.nav-primary -->

						
						<button class="navbar-toggler pull-xs-right hidden-md-up" type="button" data-toggle="collapse" data-target=".nav-primary-wrapper">
	                        <span></span>
	                        <span></span>
	                        <span></span>
	                    </button>							
					</div><!-- /.header-top-inner -->
				</div><!-- /.header-top -->

									
			</div><!-- /.container -->
		</div><!-- /.header-inner -->
	</div><!-- /.header -->
</div><!-- /.header-wrapper-->
    

    <div class="main-wrapper">
	    <div class="main">
	        <div class="main-inner">
	        		        
					<div class="content-title">
	<div class="content-title-inner">
		<div class="container">		
			<h1>Frequently Asked Questions</h1>		
	
		</div><!-- /.container -->
	</div><!-- /.content-title-inner -->
</div><!-- /.content-title -->
				

				<div class="container">
					<div class="row">
						<div class="col-md-12 col-lg-12">
				            <div class="content">	               
				            	<div class="faq">
     <div class="faq-item">
            <div class="faq-item-question">
                <h2>What do you mean by eating and drinking Jesus?</h2>
            </div><!-- /.faq-item-question -->

            <div class="faq-item-answer">
                <p>This term is offensive to some today just as it was to the religionists at the time of the Lord Jesus. In John 6 the Lord said that unless we eat His flesh and drink His blood, we do not have life in us, for His flesh is the real food and His blood is the real drink. In our experience, Christ is the redeeming Lamb and the tree of life. In order to live by Him, we need to partake of Him as the Lamb and as the tree of life. Furthermore, the Lord is our living water. As we drink of Him, we are satisfied. Therefore, to eat and drink of the Lord is to receive Him in Spirit through the Word as our spiritual food and drink.
                </p>
            </div><!-- /.faq-item-answer -->
            
        </div><!-- /.faq-item -->

   <div class="faq-item">
            <div class="faq-item-question">
                <h2>What does the term "the economy of God" means?</h2>
            </div><!-- /.faq-item-question -->

            <div class="faq-item-answer">
                <p>The word "economy" comes from the Greek word oikonomia, which denotes a household arrangement; its meaning also includes a stewardship, an administration, and a dispensation, that is, a process of dispensing. When seen in the light of God’s eternal purpose as revealed throughout the Scriptures, God’s economy refers to God’s divine arrangement to dispense Himself into us for the producing and building up of the church.
                </p>
            </div><!-- /.faq-item-answer -->

        </div><!-- /.faq-item -->

     <div class="faq-item">
            <div class="faq-item-question">
                <h2>Do you hold a modalistic view of the Trinity? </h2>
            </div><!-- /.faq-item-question -->

            <div class="faq-item-answer">
                <p>
Certainly not! Modalism is heretical. Instead of teaching that the Three of the Godhead, the Father, the Son, and the Spirit, co-exist eternally, modalism claims that They are merely temporary manifestations of the divine essence. We believe according to the Bible that God is essentially three in one and one in three. We surely recognize eternal distinctions within the Godhead. However, our emphasis with respect to the Trinity is not on the doctrinal analysis of the nature of God, but on the dispensing of the Triune God into us as our life and our all. Our orthodoxy concerning the doctrine of God must be determined by whether or not our teaching is in accord with the pure Word of God. When our belief concerning the Triune God is considered fairly in the light of Scripture, it will be found that we believe neither in modalism nor in tritheism, but in the revelation of the Triune God according to the pure Word of God.                
				</p>
            </div><!-- /.faq-item-answer -->

        </div><!-- /.faq-item -->
        
        
      <div class="faq-item">
            <div class="faq-item-question">
                <h2>Do you teach that man is evolving into God? </h2>
            </div><!-- /.faq-item-question -->

            <div class="faq-item-answer">
                <p>
Such an accusation, which has been made against us, is utterly false and without foundation. According to the Bible, we teach that God is dispensing Himself into man and that the believer is being transformed by and permeated with the element of God. The fact that, as sons of God, we partake of the life and nature of God does not mean that we become God Himself. Yes, the Triune God is being wrought into us and we are partaking of His very nature, but we are definitely not evolving into the Godhead.
				</p>
            </div><!-- /.faq-item-answer -->
            
        </div><!-- /.faq-item -->

         <div class="faq-item">
            <div class="faq-item-question">
                <h2>Do you teach that Satan is in man’s body? </h2>
            </div><!-- /.faq-item-question -->

            <div class="faq-item-answer">
                <p>
When man fell by eating the fruit of the tree of the knowledge of good and evil, sin, the nature of Satan, was injected into man’s body and transmuted it into the flesh. The fall was not simply an outward transgression; it was also an inward poisoning and contamination of our very being. According to Romans 5 through 7, sin functions in our members as the virtual personification of Satan. Therefore, we may say that Satan as sin dwells in man’s flesh. This does not mean, however, that Satan has no objective existence apart from man, for the Bible clearly refers to him as the spirit of the power of the air. Furthermore, the Bible reveals that fallen men are children of the Devil and that the Devil is their father (1 John 3:10; John 8:44). To be children of the Devil is to have the life and nature of Satan. In the sense of having within our flesh the life and nature of Satan we say, according to God’s Word, that Satan in the form of sin dwells in man’s flesh.
				</p>
            </div><!-- /.faq-item-answer -->
            
        </div><!-- /.faq-item -->


    
    
</div><!-- /.faq -->

<div class="pagination-wrapper">
	<ul class="pagination">
		<li class="page-item disabled">
			
		</li>

		<li class="page-item">
			<a class="page-link" href="file:///Users/klimanjaya/Desktop/villareal-1.0.5%20copy/villareal/faq1.html">1</a>
		</li>

		<li class="page-item active"><a class="page-link" href="#">2<span class="sr-only">(current)</span></a></li>

		<li class="page-item"><a class="page-link" href="file:///Users/klimanjaya/Desktop/villareal-1.0.5%20copy/villareal/faq3.html">3 </a></li>

		<li class="page-item disabled">
			</li>
	</ul><!-- /.pagination -->
</div><!-- /.pagination-wrapper -->

				            </div><!-- /.content -->
			            </div><!-- /.col-* -->




			            </div><!-- /.row -->
	            </div><!-- /.container -->
	        </div><!-- /.main-inner -->
	    </div><!-- /.main -->
    </div><!-- /.main-wrapper -->

  
<div class="footer-wrapper">
	<div class="container">
		<div class="footer-inner">
			

			<div class="footer-bottom">
				<div class="footer-left">
					&copy; 2017 All Rights reserved.
				</div><!-- /.footer-left -->

				<div class="footer-right">
					<ul class="nav nav-pills">
						<li class="nav-item"><a href="faq1.html" class="nav-link">FAQ's</a></li>
						<li class="nav-item"><a href="privacy.html" class="nav-link">Privacy Policy</a></li>
						<li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
					</ul>
				</div><!-- /.footer-right -->			
			</div><!-- /.footer-bottom -->
		</div><!-- /.footer-inner -->
	</div><!-- /.container -->
</div><!-- /.footer-wrapper -->
</div><!-- /.page-wrapper -->


<script src="//maps.googleapis.com/maps/api/js" type="text/javascript"></script>

<script type="text/javascript" src="assets/js/jquery.js"></script>
<script type="text/javascript" src="assets/js/jquery.ezmark.min.js"></script>
<script type="text/javascript" src="assets/js/tether.min.js"></script>
<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/gmap3.min.js"></script>
<script type="text/javascript" src="assets/js/leaflet.js"></script>
<script type="text/javascript" src="assets/js/leaflet.markercluster.js"></script>
<script type="text/javascript" src="assets/libraries/owl-carousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="assets/libraries/chartist/chartist.min.js"></script>
<script type="text/javascript" src="assets/js/scrollPosStyler.js"></script>
<script type="text/javascript" src="assets/js/villareal.js"></script>

</body>
</html>