<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,300,700&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="assets/libraries/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="assets/libraries/chartist/chartist.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/leaflet.css" rel="stylesheet" type="text/css">
    <link href="assets/css/leaflet.markercluster.css" rel="stylesheet" type="text/css">
    <link href="assets/css/leaflet.markercluster.default.css" rel="stylesheet" type="text/css">    
    <link href="assets/css/villareal-turquoise.css" rel="stylesheet" type="text/css" id="css-primary">
	<link rel="shortcut icon" type="image/x-icon" href="assets/favicon.png">
	
    <title>Local Churches - Frequently Asked Questions</title>
</head>

<body class="content-title-center">
<div class="page-wrapper">
	
		<div class="header-wrapper">
	<div class="header header-small">
		<div class="header-inner">
			<div class="container">
				
				<div class="header-top header-background">
					<div class="header-top-inner">
						<a class="header-logo" href="index-static-image-filter-center.html">
							
							<span class="header-logo-text">the local churches</span>
						</a><!-- /.header-logo -->
							
<div class="nav-primary-wrapper collapse navbar-toggleable-sm">
	<ul class="nav nav-pills nav-primary">
		<li class="nav-item nav-item-parent">
			<a href="index-static-image-filter-center.html" class="nav-link ">
				Find Us
			</a>	

			<ul class="sub-menu">
				<li><a href="...">Interactive Map</a></li>
				<li><a href="...">Listings</a></li>	
			</ul>
		</li>

		<li class="nav-item nav-item-parent">
			<a href="..." class="nav-link ">
				Beliefs
			</a>

			<ul class="sub-menu">
				<li><a href="...">Our Beliefs</a></li>
				<li><a href="...">Our Standing</a></li>
				<li><a href="...">Our Mission</a></li>
				<li><a href="...">Our Hope</a></li>
				<li><a href="...">Concerning the Recovery</a></li>
				<li><a href="...">Concerning Salvation</a></li>
				<li><a href="...">Concerning Christian Life</a></li>
				<li><a href="...">Concerning Church Life</a></li>
			</ul>			
		</li>	
		
		<li class="nav-item nav-item-parent	">
			<a href="#" class="nav-link ">
				History
			</a>	

			<ul class="sub-menu">
				<li><a href="agents-row.html">Sample Row</a></li>
				<li><a href="agents-grid.html">Sample Grid</a></li>
			</ul>		
		</li>

		<li class="nav-item">
			<a href="blog-grid-fullwidth.html" class="nav-link ">
				Testimonies
			</a>

		</li>		

		<li class="nav-item">
			<a href="blog-grid-fullwidth2.html" class="nav-link ">
				Recognition
			</a>		
		</li>	
					
	</ul><!-- /.nav -->
</div><!-- /.nav-primary -->

						
						<button class="navbar-toggler pull-xs-right hidden-md-up" type="button" data-toggle="collapse" data-target=".nav-primary-wrapper">
	                        <span></span>
	                        <span></span>
	                        <span></span>
	                    </button>							
					</div><!-- /.header-top-inner -->
				</div><!-- /.header-top -->

									
			</div><!-- /.container -->
		</div><!-- /.header-inner -->
	</div><!-- /.header -->
</div><!-- /.header-wrapper-->
    

    <div class="main-wrapper">
	    <div class="main">
	        <div class="main-inner">
	        		        
					<div class="content-title">
	<div class="content-title-inner">
		<div class="container">		
			<h1>Frequently Asked Questions</h1>		
	
		</div><!-- /.container -->
	</div><!-- /.content-title-inner -->
</div><!-- /.content-title -->
				

				<div class="container">
					<div class="row">
						<div class="col-md-12 col-lg-12">
				            <div class="content">	               
				            	<div class="faq">
    
        <div class="faq-item">
            <div class="faq-item-question">
                <h2>What takes place at your trainings? </h2>
            </div><!-- /.faq-item-question -->

            <div class="faq-item-answer">
                <p> 
Ten-day trainings are currently held semi-annually in Anaheim. The content of each training is an intensified study of a book of the Bible or portion thereof.
                </p>
            </div><!-- /.faq-item-answer -->

        </div><!-- /.faq-item -->
    
        <div class="faq-item">
            <div class="faq-item-question">
                <h2>How are the local churches supported financially? </h2>
            </div><!-- /.faq-item-question -->

            <div class="faq-item-answer">
                <p> 
Each local church is supported by voluntary gifts from its members. The financial affairs of a local church are under the administration of that church. There is no financial accountability to any other church body. In this matter, as in all administrative affairs, the local churches are autonomous and locally governed. The members are encouraged to give in a way that is hidden and not ostentatious, according to the commitment they have with the Lord. No offerings are taken in the meetings, and there is very little talk of financial matters. A financial statement is available for examination by members. As far as financial affairs are concerned, the local churches are properly registered with the government as non-profit religious corporations.
                </p>
            </div><!-- /.faq-item-answer -->

        </div><!-- /.faq-item -->
    
        <div class="faq-item">
            <div class="faq-item-question">
                <h2>What is your attitude toward the historic, institutional Christian church?</h2>
            </div><!-- /.faq-item-question -->

            <div class="faq-item-answer">
                <p>
We stand outside of and apart from historical, organized, institutionalized Christianity because we regard it as a system filled with unscriptural teachings and practices. For the sake of the genuine recovery of the church life revealed in the Bible, we meet together in the Lord’s name on the ground of genuine oneness in the locality.
	            </p>
            </div><!-- /.faq-item-answer -->

        </div><!-- /.faq-item -->
    
        <div class="faq-item">
            <div class="faq-item-question">
                <h2>What is your altitude toward other Christians? </h2>
            </div><!-- /.faq-item-question -->

            <div class="faq-item-answer">
                <p>
We would like to make it emphatically clear that we neither believe nor teach that one must be in a local church in order to be a genuine Christian. We recognize that in the Roman Catholic Church, in the denominations, and in the independent groups there are many genuine blood-washed, Spirit-regenerated believers in Christ, and we receive them as our brothers and sisters in the Lord. All who have saving faith in the Lord Jesus are welcome to all our meetings, especially the Lord’s table, where we testify of the oneness of the Body of Christ. Although we must, for conscience' sake, stand apart from organized religion, we do not stand apart from our brothers and sisters in Christ. In faithfulness to the Lord, we stand on the unique ground of the church for the sake of the Lord’s testimony. But we do not take this stand with a narrow, exclusive, or sectarian spirit. On the contrary, we take our stand on behalf of the whole Body; we receive all believers even as the Lord has received us.
				</p>
            </div><!-- /.faq-item-answer -->
            
        </div><!-- /.faq-item -->
    
        <div class="faq-item">
            <div class="faq-item-question">
                <h2>What is your attitude toward the government?</h2>
            </div><!-- /.faq-item-question -->

            <div class="faq-item-answer">
                <p>
According to the Bible, human government has been ordained of God to preserve peace and to maintain order. For the sake of conscience, all Christians are to be subject to the civil authorities. Therefore, we submit to all governmental authorities and are obedient to them, living as good citizens of our nation, state, and community. We are prepared to fulfill all our responsibilities toward the human government ordained of God.
                </p>
            </div><!-- /.faq-item-answer -->
            
        </div><!-- /.faq-item -->
           
</div><!-- /.faq -->

<div class="pagination-wrapper">
	<ul class="pagination">
		<li class="page-item disabled">
			
		</li>

		<li class="page-item">
			<a class="page-link" href="file:///Users/klimanjaya/Desktop/villareal-1.0.5%20copy/villareal/faq1.html">1</span></a>
		</li>

		<li class="page-item"><a class="page-link" href="file:///Users/klimanjaya/Desktop/villareal-1.0.5%20copy/villareal/faq2.html">2</a></li>

		<li class="page-item active"><a class="page-link" href="#">3<span class="sr-only">(current)</span> </a></li>

		<li class="page-item">
			
		</li>
	</ul><!-- /.pagination -->
</div><!-- /.pagination-wrapper -->

				            </div><!-- /.content -->
			            </div><!-- /.col-* -->




			            </div><!-- /.row -->
	            </div><!-- /.container -->
	        </div><!-- /.main-inner -->
	    </div><!-- /.main -->
    </div><!-- /.main-wrapper -->

  
<div class="footer-wrapper">
	<div class="container">
		<div class="footer-inner">
			

			<div class="footer-bottom">
				<div class="footer-left">
					&copy; 2017 All Rights reserved.
				</div><!-- /.footer-left -->

				<div class="footer-right">
					<ul class="nav nav-pills">
						<li class="nav-item"><a href="faq1.html" class="nav-link">FAQ's</a></li>
						<li class="nav-item"><a href="privacy.html" class="nav-link">Privacy Policy</a></li>
						<li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
					</ul>
				</div><!-- /.footer-right -->			
			</div><!-- /.footer-bottom -->
		</div><!-- /.footer-inner -->
	</div><!-- /.container -->
</div><!-- /.footer-wrapper -->
</div><!-- /.page-wrapper -->


<script src="//maps.googleapis.com/maps/api/js" type="text/javascript"></script>

<script type="text/javascript" src="assets/js/jquery.js"></script>
<script type="text/javascript" src="assets/js/jquery.ezmark.min.js"></script>
<script type="text/javascript" src="assets/js/tether.min.js"></script>
<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/gmap3.min.js"></script>
<script type="text/javascript" src="assets/js/leaflet.js"></script>
<script type="text/javascript" src="assets/js/leaflet.markercluster.js"></script>
<script type="text/javascript" src="assets/libraries/owl-carousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="assets/libraries/chartist/chartist.min.js"></script>
<script type="text/javascript" src="assets/js/scrollPosStyler.js"></script>
<script type="text/javascript" src="assets/js/villareal.js"></script>

</body>
</html>