{% extends "lampstands/base_blog.html" %}
{% load lampstands_tags cache staticfiles wagtailuserbar wagtailcore_tags wagtailimages_tags wagtailsettings_tags %}

{% block content %}

<div class="content-title">
    <div class="content-title-inner">
        <div class="vessel">        
                    <h1>{{self.question}}</h1> 
        </div><!-- /.vessel -->
    </div><!-- /.content-title-inner -->
    </div><!-- /.content-title -->          
    
    <div class="specifications--no-visit">
        <div class="vessel">
            <div class="popular-tags">
                <ul class="closed">
                    {% with self.tags.all as tags %}
                        {% if tags %}
                            {% for tag in tags %}
                                <li>
                                    <a href="{% pageurl self.faq_index %}?tag={{ tag.tag.slug }}">{{ tag.tag }}</a>
                                </li>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </ul>
            </div>
        </div>
    </div>

    <div class="vessel">
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="content">                  
                                <div class="faq">
    
                                    <div class="faq-item">
                                        <div class="faq-item-question">
                                            <h2>{{self.question}}</h2>
                                        </div><!-- /.faq-item-question -->

                                        <div class="faq-item-answer">
                                            <p>{{self.answer}}</p>
                                    {% include "lampstands/includes/streamfield.html" %}
                                        </div><!-- /.faq-item-answer -->

                                    </div><!-- /.faq-item -->

                                </div>
                            </div><!-- /.content -->
                    </div><!-- /.col-* -->
        </div><!-- /.row -->
    </div><!-- /.vessel -->    
{% endblock %}