{% extends "lampstands/base_blog.html" %}
{% load staticfiles lampstands_tags wagtailcore_tags wagtailimages_tags %}

{% block title %}
{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %} | The Local Churches
{% endblock %}

{% block content %}
    
    {% get_popular_tags self as poptags %}

    <div class="content-title">
            <div class="content-title-inner">
                <div class="vessel">     
                    <a href="http://safe-cove-64619.herokuapp.com/history">  
                    <h1>History</h1>
                    </a>           
                </div><!-- /.vessel -->
            </div><!-- /.content-title-inner -->
    </div><!-- /.content-title -->                          

    <section class="blog">
    <div class="vessel">
            <div class="popular-tags">
                {% if poptags %}
                    <div class="closed">
                        <p>
                            {% for tag in poptags %}
                                {% if request.GET.tag|length and request.GET.tag|safe == tag.slug %}
                                    <a class="filtering" href="?tag={{ tag.slug }}">{{ tag }}</a>
                                {% else %}
                                    <a href="?tag={{ tag.slug }}">{{ tag }}</a>
                                {% endif %}
                            {% endfor %}
                            {# Optional 'show all' appears if filtering by tag #}
                            {% if request.GET.tag|length %}
                                {% for tag in poptags %}
                                    {% if request.GET.tag|safe == tag.slug %}
                                        <a class="before" href="{% pageurl self %}">  show all</a>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </p>
                    </div>
                {% endif %}
            </div>
    </div>
    </section>

    <div class="content">
        <div class="vessel">
            <div class="posts posts-grid">  
                <div class="row">   
                    {% include "lampstands/includes/history_listing.html" %}               
                </div><!-- /.row -->
            </div><!-- /.posts-->

        </div><!-- /.vessel -->
    </div><!-- /.content -->
{% endblock %}

{% block histicon %}
class="icon-bar active"
{% endblock %}