{{% load lampstands_tags wagtailcore_tags wagtailimages_tags wagtailembeds_tags staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,300,700&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/libraries/owl-carousel/owl.carousel.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/libraries/chartist/chartist.min.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/leaflet.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/leaflet.markercluster.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/leaflet.markercluster.default.css' %}" >    
    <link rel="stylesheet" type="text/css" id="css-primary" href="{% static 'css/villareal-turquoise.css' %}" >
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}" >
    
    <title>Local Churches</title>
</head>

<body class="cover-pull-top header-transparent">
<div class="page-wrapper">
                
        <div class="header-wrapper">
    <div class="header header-small">
        <div class="header-inner">
            <div class="container">
                <div class="header-top">
                    <div class="header-top-inner">
                        <a class="header-logo" href="index-static-image-filter-center.html">
                            <span class="header-logo-shape"></span> 
                            <span class="header-logo-text">the local churches</span>
                        </a><!-- /.header-logo -->

                    
                        
<div class="nav-primary-wrapper collapse navbar-toggleable-sm">
    <ul class="nav nav-pills nav-primary">
        <li class="nav-item nav-item-parent">
            <a href="index-static-image-filter-center.html" class="nav-link active">
                Find Us
            </a>
            <ul class="sub-menu">
                <li><a href="...">Interactive Map</a></li>
                <li><a href="...">Listings</a></li> 
            </ul>
        </li>

        <li class="nav-item nav-item-parent">
            <a href="..." class="nav-link ">
                Beliefs
            </a>

            <ul class="sub-menu">
                <li><a href="...">Our Beliefs</a></li>
                <li><a href="...">Our Standing</a></li>
                <li><a href="...">Our Mission</a></li>
                <li><a href="...">Our Hope</a></li>
                <li><a href="...">Concerning the Recovery</a></li>
                <li><a href="...">Concerning Salvation</a></li>
                <li><a href="...">Concerning Christian Life</a></li>
                <li><a href="...">Concerning Church Life</a></li>
            </ul>           
        </li>   
        
        <li class="nav-item nav-item-parent ">
            <a href="#" class="nav-link ">
                History
            </a>    

            <ul class="sub-menu">
                <li><a href="agents-row.html">Sample Row</a></li>
                <li><a href="agents-grid.html">Sample Grid</a></li>
            </ul>       
        </li>

        <li class="nav-item">
            <a href="blog-grid-fullwidth.html" class="nav-link ">
                Testimonies
            </a>

        </li>       

        <li class="nav-item">
            <a href="blog-grid-fullwidth2.html" class="nav-link ">
                Recognition
            </a>        
        </li>   
                                                            
    </ul><!-- /.nav -->
</div><!-- /.nav-primary -->


                        <button class="navbar-toggler pull-xs-right hidden-md-up" type="button" data-toggle="collapse" data-target=".nav-primary-wrapper">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>                       
                    </div><!-- /.header-top-inner -->
                </div><!-- /.header-top -->
            </div><!-- /.container -->
        </div><!-- /.header-inner -->
    </div><!-- /.header -->
</div><!-- /.header-wrapper-->
        
    <div class="main-wrapper">
        <div class="main">
            <div class="main-inner">
                

                <div class="content">
                    <div class="cover cover-center">
    <div class="cover-image"></div><!-- /.cover-image -->

    <div class="cover-title">
        <div class="container">
            <div class="cover-title-inner">
                <h1>Find a local church.</h1>
            </div><!-- /.cover-title-->

            <form method="get" action="properties.html">
                <div class="form-group col-sm-6">
                    <input type="text" class="form-control" placeholder="City/State/Province/Country/Region">
                </div> <!-- /.form-group -->        

                <div class="form-group col-sm-2">
                    <button type="submit" class="btn btn-primary btn-block">Search</button>
                </div>
            </form>
        </div><!-- /.container -->
    </div><!-- /.cover-title -->
</div><!-- /.cover -->

<div class="information-bar">
    <div class="container">
        <i class="fa fa-info-circle"></i>In the local churches we highly treasure the Holy Bible as God’s revelation of Himself and of His eternal purpose. 
    </div><!-- /.container -->
</div><!-- /.information-bar -->

<div class="container">
    <div class="page-header">
        <h1>Real people. Real stories</h1> 

        <ul>
            <li><a href="...">Recent</a></li>
            <li><a href="...">All</a></li>
        </ul>
    </div><!-- /.page-header -->

    <div class="row">
    <div class="col-md-6">
        
        <div class="listing-box listing-box-simple">
    <div class="listing-box-image" 
    style="background-image: url("{% static 'css/img/tmp/tmp-12.jpg' %}")>
        <div class="listing-box-image-title">
            <h2><a href="...">A Word of Testimony</a></h2>
        </div><!-- /.listing-box-image-title -->

        <span class="listing-box-image-links">
            <a href="..."><i class="fa fa-eye"></i> <span>Read</span></a>
        </span>
    </div><!-- /.listing-box-image -->          
</div><!-- /.listing-box -->
    </div><!-- /.col-* -->

    <div class="col-md-6">
        <div class="row">
            
                <div class="col-sm-6">
                    <div class="listing-box">
    
    <div class="listing-box-title" align="center">
        <h2 style="white-space:normal"><a href="...">The Enjoyment of My Salvation</a></h2>
        <h3 style="font-style:italic">Martha Ball</h3>
        </div><!-- /.listing-box-title -->

    <div class="listing-box-content">
        <dl>
            <dt>Locality</dt><dd>California, USA</dd>
        </dl>
    </div><!-- /.listing-box-content -->
</div><!-- /.listing-box -->
                </div><!-- /.col-* -->
            
            <div class="col-sm-6">
                    <div class="listing-box">
    
    <div class="listing-box-title" align="center">
        <h2 style="white-space:normal"><a href="...">But in God's Word the Light I Found</a></h2>
        <h3 style="font-style:italic">Savo John Smocilac</h3>
        </div><!-- /.listing-box-title -->

    <div class="listing-box-content">
        <dl>
            <dt>Locality</dt><dd>South Africa</dd>
        </dl>
    </div><!-- /.listing-box-content -->
</div><!-- /.listing-box -->
                </div><!-- /.col-* -->
    
        </div><!-- /.row -->        
    </div><!-- /.col-* -->
        
    <div class="col-md-6">
        <div class="row">
            
                <div class="col-sm-6">
                    <div class="listing-box">
    
    <div class="listing-box-title" align="center">
        <h2 style="white-space:normal"><a href="...">The Best Environment on Earth</a></h2>
        <h3 style="font-style:italic">Paul Bixby</h3>
        </div><!-- /.listing-box-title -->

    <div class="listing-box-content">
        <dl>
            <dt>Locality</dt><dd>Texas, USA</dd>
        </dl>
    </div><!-- /.listing-box-content -->
</div><!-- /.listing-box -->
                </div><!-- /.col-* -->
            
            <div class="col-sm-6">
                    <div class="listing-box">
    
    <div class="listing-box-title" align="center">
        <h2 style="white-space:normal"><a href="..."></a>The Hidden Treasure in the Heart of God</h2>
        <h3 style="font-style:italic">Alma Herrera</h3>
        </div><!-- /.listing-box-title -->

    <div class="listing-box-content">
        <dl>
            <dt>Locality</dt><dd>Mexico</dd>
        </dl>
    </div><!-- /.listing-box-content -->
</div><!-- /.listing-box -->
                </div><!-- /.col-* -->
    
        </div><!-- /.row -->        
    </div><!-- /.col-* -->
    
</div><!-- /.row -->



</div><!-- /.container -->


                </div><!-- /.content -->
            </div><!-- /.main-inner -->
        </div><!-- /.main -->
    </div><!-- /.main-wrapper -->



<div class="footer-wrapper">
    <div class="container">
        <div class="footer-inner">
            

            <div class="footer-bottom">
                <div class="footer-left">
                    &copy; 2017 All Rights reserved.
                </div><!-- /.footer-left -->

                <div class="footer-right">
                    <ul class="nav nav-pills">
                        <li class="nav-item"><a href="faq1.html" class="nav-link">FAQ's</a></li>
                        <li class="nav-item"><a href="privacy.html" class="nav-link">Privacy Policy</a></li>
                        <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
                    </ul>
                </div><!-- /.footer-right -->           
            </div><!-- /.footer-bottom -->
        </div><!-- /.footer-inner -->
    </div><!-- /.container -->
</div><!-- /.footer-wrapper -->
</div><!-- /.page-wrapper -->


<script src="//maps.googleapis.com/maps/api/js" type="text/javascript"></script>

src="{% static 'js/main.js' %}"

<script type="text/javascript" src="{% static 'js/villareal/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/villareal/jquery.ezmark.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/villareal/tether.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/villareal/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/villareal/gmap3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/villareal/leaflet.js' %}"></script>
<script type="text/javascript" src="{% static 'js/villareal/leaflet.markercluster.js' %}"></script>
<script type="text/javascript" src="{% static 'css/libraries/owl-carousel/owl.carousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'css/libraries/chartist/chartist.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/villareal/scrollPosStyler.js' %}"></script>
<script type="text/javascript" src="{% static 'js/villareal/villareal.js' %}"></script>

</body>
</html>