{% extends "lampstands/base.html" %}
{% load lampstands_tags cache staticfiles wagtailuserbar wagtailcore_tags wagtailimages_tags wagtailsettings_tags %}
{% block title_postfix %} The Local Churches {% endblock %}
{% block content %}

                    <div class="cover cover-center">
    <div class="cover-image" style="background-image: url('{% static 'css/img/bluemap.jpg' %}')"></div><!-- /.cover-image -->

    <div class="cover-title">
        <div class="vessel location">
            <div class="cover-title-inner">
                <h1>Find a local church.</h1>
            </div><!-- /.cover-title-->

           <form>
                <div class="form-group col-sm-6">
                <input class="form-control" type="text" placeholder="City or Region or Country Name"/>
                </div>
                <div class="form-group col-sm-2">
                <input class="btn btn-primary btn-block find" type="button" value="Search">
                </div>
                    <fieldset class="details">
                      <h3>Address-Details</h3>

                      <label>Latitude</label>
                      <input name="lat" type="text" value="">

                      <label>Longitude</label>
                      <input name="lng" type="text" value="">


                    </fieldset>
            </form>

        </div><!-- /.vessel -->
    </div><!-- /.cover-title -->
</div><!-- /.cover -->

<div class="information-bar">
    <div class="vessel">
        <i class="fa fa-info-circle"></i>{{ self.information_bar_content }}
    </div><!-- /.vessel -->
</div><!-- /.information-bar -->



<div class="vessel">
    <div class="page-header">
        <h1>{{ self.blogs_tag_line }}</h1> 

        <ul>
            <li><a href="testimonies">All</a></li>
        </ul>
    </div><!-- /.page-header -->

    <div class="row">

    <div class="col-md-6">
        
        <div class="listing-box listing-box-simple">
    <div class="listing-box-image" 
    style="background-image: url('{% static 'css/img/vessel1.jpg' %}')">
        <div class="listing-box-image-title">
            <h2><a href="word_of_testimony.html">A Word of Testimony</a></h2>
        </div><!-- /.listing-box-image-title -->

        <span class="listing-box-image-links">
            <a href="..."><i class="fa fa-eye"></i> <span>Read</span></a>
        </span>
    </div><!-- /.listing-box-image -->          
</div><!-- /.listing-box -->
    </div><!-- /.col-* -->
<section id="posts" class="vessel">
     <div class="col-sm-6 col-md-6">
                <div class="row">    
                           
                    {% homepage_blog_listing %} 

                </div><!-- /.row -->        
        </div><!-- /.col-* -->
 </section>
    <div class="col-md-6">
        <div class="row">
            
        </div><!-- /.row -->        
    </div><!-- /.col-* -->
        
</div><!-- /.row -->  
</div><!-- /.vessel -->

{% endblock %}
{% block extra_js %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4MAVqADcBv3nSIqd8y7RZWF9kmcVB6XQ
&libraries=places,geometry"  type="text/javascript"> </script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/villareal/jquery.geocomplete.js' %}"></script>    
    <script>
      $(function(){
        $(".form-control").geocomplete({
          details: ".details",
          detailsScope: '.location',
          types: ["geocode", "establishment"],
        });

        $(".find").click(function(){
          $(this).parents(".location").find(".form-control").trigger("geocode");
        });
      });
    </script>
{% endblock %}

