{% extends "lampstands/base.html" %}
{% load lampstands_tags cache staticfiles wagtailuserbar wagtailcore_tags wagtailimages_tags wagtailsettings_tags %}
{% block title_postfix %}{% endblock %}
{% block content %}

                    <div class="cover cover-center">
    <div class="cover-image"></div><!-- /.cover-image -->

    <div class="cover-title">
        <div class="container">
            <div class="cover-title-inner">
                <h1>Find a local church.</h1>
            </div><!-- /.cover-title-->

            <form method="get" action="properties.html">
                <div class="form-group col-sm-6">
                    <input type="text" class="form-control" placeholder="City/State/Province/Country/Region">
                </div> <!-- /.form-group -->        

                <div class="form-group col-sm-2">
                    <button type="submit" class="btn btn-primary btn-block">Search</button>
                </div>
            </form>
        </div><!-- /.container -->
    </div><!-- /.cover-title -->
</div><!-- /.cover -->

<div class="information-bar">
    <div class="container">
        <i class="fa fa-info-circle"></i>In the local churches we highly treasure the Holy Bible as God’s revelation of Himself and of His eternal purpose. 
    </div><!-- /.container -->
</div><!-- /.information-bar -->



<div class="container">
    <div class="page-header">
        <h1>Real people. Real stories</h1> 

        <ul>
            <li><a href="...">Recent</a></li>
            <li><a href="blog_index.html">All</a></li>
        </ul>
    </div><!-- /.page-header -->

    <div class="row">

    <div class="col-md-6">
        
        <div class="listing-box listing-box-simple">
    <div class="listing-box-image" 
    style="background-image: url("{% static 'css/img/vessel1.jpg' %}")>
        <div class="listing-box-image-title">
            <h2><a href="word_of_testimony.html">A Word of Testimony</a></h2>
        </div><!-- /.listing-box-image-title -->

        <span class="listing-box-image-links">
            <a href="..."><i class="fa fa-eye"></i> <span>Read</span></a>
        </span>
    </div><!-- /.listing-box-image -->          
</div><!-- /.listing-box -->
    </div><!-- /.col-* -->

    <section id="posts" class="container">
        <h2>{{ self.blog_title}}</h2>
        {% homepage_blog_listing %}        

    </section>

    <div class="col-md-6">
        <div class="row">
            
                <div class="col-sm-6">
                    <div class="listing-box">
    
    <div class="listing-box-title" align="center">
        <h2 style="white-space:normal"><a href="...">The Enjoyment of My Salvation</a></h2>
        <h3 style="font-style:italic">Martha Ball</h3>
        </div><!-- /.listing-box-title -->

    <div class="listing-box-content">
        <dl>
            <dt>Locality</dt><dd>California, USA</dd>
        </dl>
    </div><!-- /.listing-box-content -->
</div><!-- /.listing-box -->
                </div><!-- /.col-* -->
            
            <div class="col-sm-6">
                    <div class="listing-box">
    
    <div class="listing-box-title" align="center">
        <h2 style="white-space:normal"><a href="...">But in God's Word the Light I Found</a></h2>
        <h3 style="font-style:italic">Savo John Smocilac</h3>
        </div><!-- /.listing-box-title -->

    <div class="listing-box-content">
        <dl>
            <dt>Locality</dt><dd>South Africa</dd>
        </dl>
    </div><!-- /.listing-box-content -->
</div><!-- /.listing-box -->
                </div><!-- /.col-* -->
    
        </div><!-- /.row -->        
    </div><!-- /.col-* -->
        
    <div class="col-md-6">
        <div class="row">
            
                <div class="col-sm-6">
                    <div class="listing-box">
    
    <div class="listing-box-title" align="center">
        <h2 style="white-space:normal"><a href="...">The Best Environment on Earth</a></h2>
        <h3 style="font-style:italic">Paul Bixby</h3>
        </div><!-- /.listing-box-title -->

    <div class="listing-box-content">
        <dl>
            <dt>Locality</dt><dd>Texas, USA</dd>
        </dl>
    </div><!-- /.listing-box-content -->
</div><!-- /.listing-box -->
                </div><!-- /.col-* -->
            
            <div class="col-sm-6">
                    <div class="listing-box">
    
    <div class="listing-box-title" align="center">
        <h2 style="white-space:normal"><a href="..."></a>The Hidden Treasure in the Heart of God</h2>
        <h3 style="font-style:italic">Alma Herrera</h3>
        </div><!-- /.listing-box-title -->

    <div class="listing-box-content">
        <dl>
            <dt>Locality</dt><dd>Mexico</dd>
        </dl>
    </div><!-- /.listing-box-content -->
</div><!-- /.listing-box -->
                </div><!-- /.col-* -->
    
        </div><!-- /.row -->        
    </div><!-- /.col-* -->
    
</div><!-- /.row -->



</div><!-- /.container -->

{% endblock %}


