{% extends "lampstands/base_blog.html" %}
{% load lampstands_tags cache static wagtailcore_tags wagtailimages_tags wagtailsettings_tags %}

{% block title %}
{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %} | The Local Churches
{% endblock %}

{% block content %}
<div class="content-title">
    <div class="content-title-inner">
        <div class="container">
            <h1>{{ self.title }}</h1>
        </div>
    </div>
</div>

<div class="content">
    <div class="container">
        {% if self.intro %}
            <div class="intro">{{ self.intro|richtext }}</div>
        {% endif %}
        {% if self.body %}
            <div class="body">{{ self.body|richtext }}</div>
        {% endif %}
    </div>
</div>
{% endblock %}
