{% extends "lampstands/base_blog.html" %}
{% load lampstands_tags static wagtailcore_tags wagtailimages_tags %}

{% block title %}
{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %} | The Local Churches
{% endblock %}

{% block content %}
<div class="content-title">
    <div class="content-title-inner">
        <div class="vessel">
            <h1>{{ self.title }}</h1>
        </div>
    </div>
</div>

<div class="content">
    <div class="vessel">
        {% if self.intro %}
            <div class="intro">{{ self.intro }}</div>
        {% endif %}
        {% if org_children %}
            <ul class="org-listing">
                {% for child in org_children %}
                    <li><a href="{% pageurl child %}">{{ child.title }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
{% endblock %}
