{% extends "lampstands/base_blog.html" %}
{% load staticfiles lampstands_tags wagtailcore_tags wagtailimages_tags %}
{% block title %}
{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %} | The Local Churches
{% endblock %}

{% block content %}
<div class="content-title">
    <div class="content-title-inner">
        <div class="vessel">     
            <h1>{{self.heading}}</h1>        
    
        </div><!-- /.container -->
    </div><!-- /.content-title-inner -->
    </div><!-- /.content-title -->          
                <div class="vessel">
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="content">                  
                                <div class="post-detail">     
                                    {{self.content}}
                                </div><!-- /.post-detail -->

                            </div><!-- /.content -->
                        </div><!-- /.col-* -->

                    </div><!-- /.row -->
                </div><!-- /.container -->
   
{% endblock %}