{% extends "lampstands/base.html" %}
{% load lampstands_tags wagtailcore_tags wagtailimages_tags staticfiles %}

{% block content %}
    <script src="{% static "lampstands/css/src/dependences/jquery-2.1.4.min.js" %}"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places,geometry&key=AIzaSyC8DzA414OJ7tzw0J7cKc9LPisCg2gNNKI&sensor=false"></script>
    <script src="{% static "lampstands/css/src/shop-locator.js" %}"></script>
    <script src="{% static "lampstands/css/js/example.js" %}"></script>
{% end block %}