{% load lampstands_tags cache staticfiles wagtailuserbar wagtailcore_tags wagtailimages_tags wagtailsettings_tags %}

<!DOCTYPE html>
<html>

<div class="map_wrapper">
    <div id="map" class="map_container">
    </div>
    <div class="map_results">
        <div class="map_detail">
        </div>
        <div class="map_listings">
            <div class="map_listings_headline">
                <h2>Results <span class="map_listings_number"></span></h2>
            </div>
            <div class="map_listings_results">

            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4MAVqADcBv3nSIqd8y7RZWF9kmcVB6XQ&libraries=places,geometry"></script>
<script src="{% static 'lampstands/css/src/storeLocator.all.js' %}"></script>
<script src="{% static 'lampstands/css/src/storeLocator.js' %}"></script>
<script>
    $(function() {
        $('.map_container').storeLocator({
            
        });
    });
</script>

<script id="YOUR_LIST_TEMPLATE_ID" type="text/x-jQuery-tmpl">
    
</script>
<script id="YOUR_DETAIL_TEMPLATE_ID" type="text/x-jQuery-tmpl">
    
</script>